// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

ul
  list-style-type: none

body
  margin: 0
  padding: 0
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAABCAYAAAAW/mTzAAAAGklEQVQIW2P89+/ffyBmAOH///8z/P37lwEAtNsP4/GPadMAAAAASUVORK5CYII=') repeat

.product-list-item
  border: 1px solid #ccc
  border-radius: 3px
  background: #eee
  padding: 10px
  margin-bottom: 20px
  float: left
  width: 100%

  img
    width: 30%
    height: 190px
    float: left
    background: #ccc

  .desc
    margin-left: 5%
    width: 65%
    float: left